body main .grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 30px; }

body main .icon_note {
  width: 100px;
  height: 100px; }

body main h4 {
  font-size: 4rem; }

body main section article {
  font-size: 1rem; }
  body main section article div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0; }
    body main section article div p {
      padding: 0 50px;
      font-size: 1rem; }

body .btn {
  text-align: center; }
