body {
  padding: 0;
  margin: 0; }
  body header a {
    text-decoration: none; }
  body header {
    display: flex;
    justify-content: center;
    background-color: #579c87; }
    body header h1 {
      color: #fdcb46;
      font-size: 4rem;
      font-family: Arial;
      font-weight: bold;
      letter-spacing: -6px; }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .icon_top {
      height: 50px; }
    body main .icon_bottom {
      width: 50px;
      height: 30px;
      position: relative;
      bottom: -10px;
      padding: 0; }
    body main .grid {
      font-size: 22px; }
    body main .block-menu {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3)); }
    body main .block-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 80px 0;
      margin: 30px 0;
      text-align: center;
      margin-bottom: 125px; }
    body main .grid a {
      text-decoration: none;
      transition: transform 300ms;
      padding: 70px 50px; }
    body main .grid a .icon_note {
      width: 50px;
      height: 50px; }
    body main .grid a:hover {
      transform: scale(1.2);
      transition: all .3s ease-out;
      opacity: 0.5; }
    body main .m1 {
      background-color: #FCDFDB;
      font-family: "Devonshire-Regular", sans-serif; }
      body main .m1 h2, body main .m1 h3 {
        color: #3C1218; }
    body main .m2 {
      background-color: #FFF5FE;
      font-family: 'CroissantOne-Regular', sans-serif; }
      body main .m2 .m2_color-art1 {
        color: #C67412; }
      body main .m2 .m2_color-art2 {
        color: #A56799; }
      body main .m2 .m2_color-art3 {
        color: #6E4CCC; }
      body main .m2 h3 {
        background: linear-gradient(to right, #C77412, #905BFD);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      body main .m2 h2 {
        color: #C77412; }
    body main .m3 {
      background-color: #F9F9F9;
      font-family: 'dancingScript-regular', sans-serif; }
      body main .m3 h3 {
        background: linear-gradient(to right, #0431DF, #0887FB);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      body main .m3 h2 {
        color: #0887FB; }
    body main .m4 {
      background-color: #FDFFFD;
      font-family: 'kaushanScript-regular', sans-serif; }
      body main .m4 h3 {
        background: linear-gradient(to right, #72BF56, #BFFF7E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      body main .m4 h2 {
        color: #72BF56; }
    body main .btn {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 140px;
      border: none;
      border-radius: 15px;
      background-color: #579c87;
      padding: 0 25px;
      color: #fdcb46;
      font-size: 25px; }
      body main .btn .point {
        background-color: #fdcb46;
        height: 6px;
        width: 6px;
        border-radius: 3rem; }
      body main .btn .point {
        -webkit-animation: button 1.5s infinite;
        animation: button 1.5s infinite; }
      body main .btn .point:nth-child(1) {
        -webkit-animation-delay: 0s; }
      body main .btn .point:nth-child(2) {
        -webkit-animation-delay: 5s; }
      body main .btn .point:nth-child(3) {
        -webkit-animation-delay: 10s; }

.side-rotate {
  transform: scalex(-1); }

footer {
  display: flex;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center; }
  footer .block-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px;
    font-weight: bold;
    font-family: Arial;
    font-size: 25px;
    letter-spacing: -1px;
    text-align: center; }
  footer .block-footer a {
    text-decoration: none;
    color: #fdcb46; }
  footer a:hover {
    animation: wiggle 1.2s infinite;
    animation-timing-function: linear; }

@keyframes button {
  0% {
    opacity: 1;
    -webkit-transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5); } }

@keyframes wiggle {
  0% {
    transform: rotate(1deg); }
  20% {
    transform: rotate(-1deg); }
  40% {
    transform: rotate(1deg); }
  60% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(1deg); }
  100% {
    transform: rotate(-1deg); } }

.block-mentions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 150px 150px 150px;
  font-size: 1rem;
  font-family: Arial;
  font-weight: bold; }

a {
  padding: 0; }

@media screen and (max-width: 450px) {
  .title_sidebar img {
    display: none;
    width: 260px; } }

article {
  font-size: 1rem;
  width: 100%; }

@media screen and (max-width: 768px) {
  img {
    height: auto;
    padding: 0 15px;
    width: 200px; } }
