body section {
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }

body .container_menu {
  display: flex;
  flex-direction: column; }

body .title_sidebar img {
  width: 200px;
  height: auto; }

body .icon_top {
  height: 50px; }

body .icon_bottom {
  width: 50px;
  height: 30px;
  position: relative;
  bottom: -10px; }

h5 {
  color: inherit;
  background: linear-gradient(to top, #3C1218 0%, #3C1218 10%, transparent 10.01%) no-repeat/0 100%;
  transition: background-size 0.3s; }
