body main article {
  margin: 0 80px;
  font-size: 1rem; }
  body main article .title_sidebar {
    display: flex;
    justify-content: center; }

body .m2 .m2_color-art1 img {
  filter: invert(74%) sepia(73%) saturate(6139%) hue-rotate(11deg) brightness(92%) contrast(86%); }

body .m2 .m2_color-art2 img {
  filter: invert(47%) sepia(11%) saturate(1476%) hue-rotate(260deg) brightness(97%) contrast(92%); }

body .m2 .m2_color-art3 img {
  filter: invert(29%) sepia(65%) saturate(1542%) hue-rotate(233deg) brightness(95%) contrast(91%); }

body .m3 .m3-art1 img {
  filter: invert(11%) sepia(98%) saturate(6618%) hue-rotate(236deg) brightness(87%) contrast(102%); }

body .m3 .m3-art2 img {
  filter: invert(63%) sepia(100%) saturate(5414%) hue-rotate(192deg) brightness(99%) contrast(98%); }

body .m3 .m3-art3 img {
  filter: invert(48%) sepia(51%) saturate(2120%) hue-rotate(182deg) brightness(101%) contrast(95%); }

body .m4 img {
  filter: invert(72%) sepia(26%) saturate(851%) hue-rotate(59deg) brightness(89%) contrast(86%); }

@media screen and (max-width: 768px) {
  article div {
    display: flex;
    justify-content: center; }
    article div img {
      width: 20%;
      height: auto;
      padding: 0 15px; } }
