@mixin flex-text
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-between
  padding: 0


body

  main
    .grid
      display: grid
      grid-template-columns: repeat(2, 2fr)
      grid-gap: 30px


    .icon_note
      width: 100px
      height: 100px

    h4
      font-size: 4rem


    section
      article
        font-size: 1rem

        div
          @include flex-text

          p
            padding: 0 50px
            font-size: 1rem

  .btn
    text-align: center

