$mint-green: #579c87

$yellow-txt: #fdcb46

body
  padding: 0
  margin: 0


  header a
    text-decoration: none


  header
    display: flex
    justify-content: center
    width: 100%
    background-color: $mint-green


    h1
      color: $yellow-txt
      font-size: 4rem
      font-family: Arial
      font-weight: bold
      letter-spacing: -6px


  main
    display: flex
    flex-direction: column
    align-items: center
    margin: 15px 0 30px 0

    .grid
      font-size: 25px

    .block-menu
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3))

    a .icon_note

      width: 50px
      height: 50px

    a
      text-decoration: none

    .m1
      background-color: #FCDFDB

      h2, h3
        font-family: "Devonshire-Regular", sans-serif
        color: #3C1218

    .m2
      background-color: #FFF5FE
      font-family: 'CroissantOne-Regular', sans-serif

      h3
        background: linear-gradient(to right, #C77412, #905BFD)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent


      h2
        color: #C77412

    .m3
      background-color: #F9F9F9

      h3
        background: linear-gradient(to right, #0431DF, #0887FB)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

      h2
        color: #0887FB

    .m4
      background-color: #FDFFFD

      h3
        background: linear-gradient(to right, #72BF56, #BFFF7E)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

      h2
        color: #72BF56

    .block-menu
      margin: 15px
      display: flex
      justify-content: center
      padding: 80px 15px
      text-align: center


    .soon
      margin-bottom: 80px

      button
        border: none
        border-radius: 15px
        background-color: $mint-green
        height: 4rem
        width: 250px
        color: $yellow-txt
        font-size: 25px

  footer
    display: flex
    background-color: $mint-green
    position: fixed
    bottom: 0
    width: 100%

    .block-footer
      display: flex
      justify-content: space-between
      width: 100%
      margin: 25px
      font-weight: bold
      font-family: Arial
      font-size: 25px
      letter-spacing: -1px


    .block-footer a
      text-decoration: none
      color: $yellow-txt

.side-rotate
  transform: scalex(-1)
