$mint-green: #579c87

$yellow-txt: #fdcb46

body
  padding: 0
  margin: 0


  header a
    text-decoration: none


  header
    display: flex
    justify-content: center
    width: 100%
    background-color: $mint-green


    h1
      color: $yellow-txt
      font-size: 4rem
      font-family: Arial
      font-weight: bold
      letter-spacing: -6px


  main
    display: flex
    flex-direction: column
    align-items: center

    .grid
      font-size: 22px


    .block-menu
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3))

    .block-menu
      display: flex
      flex-direction: column
      justify-content: center
      padding: 80px 0
      margin: 30px
      text-align: center

    a
      text-decoration: none
      transition: transform 300ms
      padding: 70px 50px


    a .icon_note
      width: 50px
      height: 50px

    a:hover
      transform: scale(1.2)
      transition: opacity .5s ease-out


    .m1
      background-color: #FCDFDB
      font-family: "Devonshire-Regular", sans-serif

      h2, h3
        color: #3C1218

    .m2
      background-color: #FFF5FE
      font-family: 'CroissantOne-Regular', sans-serif

      h3
        background: linear-gradient(to right, #C77412, #905BFD)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent


      h2
        color: #C77412

    .m3
      background-color: #F9F9F9
      font-family: 'dancingScript-regular', sans-serif

      h3
        background: linear-gradient(to right, #0431DF, #0887FB)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

      h2
        color: #0887FB

    .m4
      background-color: #FDFFFD
      font-family: 'kaushanScript-regular', sans-serif


      h3
        background: linear-gradient(to right, #72BF56, #BFFF7E)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

      h2
        color: #72BF56

    .btn
      display: flex
      justify-content: center
      align-items: baseline
      margin-bottom: 140px
      border: none
      border-radius: 15px
      background-color: $mint-green
      padding: 0 25px


      color: $yellow-txt
      font-size: 25px


      .point
        background-color: $yellow-txt
        height: 6px
        width: 6px
        border-radius: 3rem

      .point
        -webkit-animation: button 1.5s infinite
        animation: button 1.5s infinite

      .point:nth-child(1)
        -webkit-animation-delay: 0s

      .point:nth-child(2)
        -webkit-animation-delay: 5s

      .point:nth-child(3)
        -webkit-animation-delay: 10s


  footer
    display: flex
    background-color: $mint-green
    position: fixed
    bottom: 0
    width: 100%

    .block-footer
      display: flex
      justify-content: space-between
      width: 100%
      margin: 25px
      font-weight: bold
      font-family: Arial
      font-size: 25px
      letter-spacing: -1px


    .block-footer a
      text-decoration: none
      color: $yellow-txt

footer
  a:hover
    animation: wiggle 1.2s infinite
    animation-timing-function: linear

.side-rotate
  transform: scalex(-1)


@keyframes button
  0%
    opacity: 1
    -webkit-transform: scale(1)

  100%
    opacity: 0
    -webkit-transform: scale(1.5)

@keyframes wiggle
  0%
    transform: rotate(1.0deg)
  20%
    transform: rotate(-1.0deg)
  40%
    transform: rotate(1.0deg)
  60%
    transform: rotate(-1.0deg)
  80%
    transform: rotate(1.0deg)
  100%
    transform: rotate(-1.0deg)