@mixin box-margin
  flex-flow: row wrap
  margin-left: auto
  margin-right: auto

@mixin flex-text
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-between
  padding: 0 25px

body
  section
    @include box-margin
    margin-bottom: 60px


  .container_menu
    display: flex
    flex-direction: column


    article
      div
        @include flex-text

        p
          padding: 0 50px

  .title_sidebar img
    width: 200px
    height: auto


  .icon_top
    height: 50px

  .icon_bottom
    width: 50px
    height: 30px
    position: relative
    bottom: -10px

  .m1
    font-family: "Devonshire-Regular", sans-serif
    color: #3C1218

  .m2
    font-family: 'CroissantOne-Regular', sans-serif

    .m2_color-art1
      color: #C67412

    .m2_color-art2
      color: #A56799

    .m2_color-art3
      color: #6E4CCC

  .m3
    font-family: 'dancingScript-regular', sans-serif

  .m4
    font-family: 'kaushanScript-regular', sans-serif


      










